Source: ros-jazzy-lynx-motor-driver
Section: misc
Priority: optional
Maintainer: Roni Kreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-index-cpp, ros-jazzy-can-msgs, ros-jazzy-clearpath-motor-msgs (>= 2.3.0), ros-jazzy-clearpath-ros2-socketcan-interface, ros-jazzy-diagnostic-updater, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-ros2-socketcan, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-lynx-motor-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ament-index-cpp, ros-jazzy-can-msgs, ros-jazzy-clearpath-motor-msgs (>= 2.3.0), ros-jazzy-clearpath-ros2-socketcan-interface, ros-jazzy-diagnostic-updater, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-ros2-socketcan, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: A ROS driver for Clearpath Lynx motor controllers
