Source: ros-humble-clearpath-generator-robot
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-clearpath-generator-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-clearpath-config, ros-humble-clearpath-generator-common, ros-humble-clearpath-sensors, ros-humble-imu-filter-madgwick, ros-humble-wireless-watcher, vulcanexus-humble-micro-ros-agent, ros-humble-ros-workspace
Description: Clearpath Robot Generator
