Source: ros-jazzy-clearpath-generator-robot
Section: misc
Priority: optional
Maintainer: Roni Kreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-clearpath-generator-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-clearpath-config (>= 2.1.0), ros-jazzy-clearpath-diagnostics (>= 2.1.0), ros-jazzy-clearpath-generator-common (>= 2.1.0), ros-jazzy-clearpath-hardware-interfaces (>= 2.1.0), ros-jazzy-clearpath-motor-msgs (>= 2.1.0), ros-jazzy-clearpath-sensors (>= 2.1.0), ros-jazzy-imu-filter-madgwick, ros-jazzy-micro-ros-agent, ros-jazzy-wireless-msgs, ros-jazzy-wireless-watcher, ros-jazzy-ros-workspace
Description: Clearpath Robot Generator
